html {
    scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
  }
  html,
  body { height: 100% }
  body {
   font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #9a9a9a;
    line-height: 28px;
  
    font-weight: 300;
  }
  button:focus{
    outline: none;
  }
  h1, h2, h3, h4, h5, h6, a, p, li, b {
    margin: 0;
   font-family: 'Poppins', sans-serif;
  }
  a,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none!important;
    outline: none!important;
    border: none;
  }
  b{
    font-weight: 600!important;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  i {
      font-style: normal;
  }
  a{
    color: #000;
  }
input:focus{
   border: none!important;
   outline:none;
   box-shadow: none;
   }

  ul{
    list-style: none;
    padding: 0!important;
  }
  .accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

/* .ethinics-link{
  position: absolute;
  bottom: 31px;
  width: 100%;
  text-align: center;
}
.ethinics-link a{
  font-size: 13px;
  font-weight: 700;
  background: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  line-height: 1.7;
  font-family: 'Spartan', sans-serif;
}

.ethinics-card {
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ddd;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}

.ethinics-card img {
  max-width: 100%;
  width: 100%;
  transition: all ease-in-out .4s;
}

.ethinics-card img:hover {
  transform: scale(1.1);
} */
.mtb-5{
  margin-top: 30px;
  margin-bottom: 50px;
}
.ptb-200{
  padding: 50px 0;
}
.page-links a{
  color: #000;
}

.offers-card-bg{
  background: #a42a49;
  padding: 2px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.offers-card{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.offers-card img {
  max-width: 100%;
  height: 230px;
  width: 100%;
  transition: all ease-in-out .8s;
  border-radius: 5px;
}.offers-card img:hover {
  transform: scale(1.3);
}
.offers-title-price{
  color: white;
  text-align: center;
  padding: 9px 0 0 0;
}
.offers-title-price h4{
  font-family: 'bodoniflfregular';
  font-size: 26px;
}
.offers-title-price p{
  font-size: 34px;
  font-family: 'bodoniflfregular';
  line-height: 0;
  padding: 9px 0 19px;
  margin: 0;
}
.offers-card-bg p span{
  padding: 0px 3px 0 0;
  font-size: 27px;
}

/* main product cards */


.top-pick-card-img {
  position: relative;
  margin-bottom: 10px
}
.irish-sidebar{
  padding: 0 12px 0px 0px;
}

.top-pick-card-img img {
  width: 100%;
  height: 310px;
}
.discount {
  position: absolute;
  padding: 12px 25px;
  background: #111;
}
.discount p {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 1.3;
  color: #fff;
}
.top-pick-card a {
  font-size: 14px;
  color: #27231F;
  line-height: 1.1 !important;
  font-weight: 500;
}
.top-pick-card a {
  font-size: 14px;
  color: #27231F;
  line-height: 1.1 !important;
  font-weight: 500
}
.product-listing .top-pick-card {
  margin-bottom: 40px
}
.wish-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: center;
  line-height: 50px;
}
.top-pick-card a {
  font-size: 14px;
  color: #27231F;
  line-height: 1.1 !important;
  font-weight: 500;
}
.wish-icon svg {
  color: white;
  font-size: 27px;
}
.top-pick-card a {
  font-size: 14px;
  color: #27231F;
  line-height: 1.1 !important;
  font-weight: 500;
}
.price {
  margin-top: 5px;
}
.price h5 {
  font-size: 15px;
  letter-spacing: normal;
}
.price h5 del {
  color: #ccc;
  font-size: 13px;
  font-weight: 400;
  padding-left: 8px;
}
.price h5 span {
  color: #A42A49;
  font-size: 13px;
  font-weight: 500;
  padding-left: 8px;
}


/* end  main products css */

/* offer banner css */
.bg--blue-two {
  background-color: #e5f5ff;
  margin-top: 74px;
}
.trending-text .heading-wrapper span {
  display: block;
  margin-bottom: 10px;
  color: #ff324d;
}
.btn-fill-out{

  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  border: 1px solid #ff324d;
  background-color: #a42a49;
  padding: 9px 25px;

}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.trending-img {
  margin-top: -40px;
}

.logo-card {
  margin-top: 25px;
}
.logo-card h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

/* ethinic css */
.ethinic-card {
  position: relative;
  width: 100%;
  /* for IE 6 */
  margin-bottom: 25px;
  overflow: hidden;
}

.ethinic-card img {
  max-width: 100%;
  width: 100%;
  transition: all ease-in-out .4s;
}

.ethinic-card img:hover {
  transform: scale(1.1);
}

.ethinic-card h1 {
  position: absolute;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  left: 10px;
  top: 40%;
  width: 100%;
}

.ethinic-card a {
  position: absolute;
  color: black;
  bottom: 30px;
  text-align: center;
  width: 100%;
  margin: 0px;

}

.ethinic-card a span {
  font-size: 13px;
  font-weight: 700;
  background: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 1.7;
  font-family: 'Spartan', sans-serif;
}
.space-pb--r70 {
  padding-bottom: 50px;
  padding-top: 50px;
}
.icon-box--style1 {
  position: relative;
  padding: 0 13px;
  text-align: center;
}
.icon-box {
  margin-bottom: 30px;
}
.icon-box--style1:before {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 15%;
  width: 1px;
  content: "";
  background-color: #ddd;
}
.icon-box__icon {
  margin-bottom: 4px;
}
.icon-box__icon svg {
  font-size: 40px;
  line-height: 1;
  color: #262626;
}
.icon-box__content p{
  color: #687188;
  font-size: 14px;
}
.icon-box__content h5{
  font-size: 18px;
  font-weight: 600;
}

.filters ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgb(164, 42, 73);
}
.filters ul li span {
  font-weight: 500;
  font-size: 16px;
}
.filters ul li {
  font-weight: 500;
  font-size: 14px;
  padding: 3px 0px;
}
.sidebar-divider {
  height: 1.5px;
  background: rgb(196, 196, 196);
  margin: 20px 0px;
}
.accordion li.open .link {
  color: rgb(91, 60, 39);
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 0px 15px 5px 5px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  transition: all 0.4s ease 0s;
}
ul.submenu .checkbox label {
  color: rgb(39, 35, 31);
  font-size: 14px;
  font-weight: 400;
}
ul.submenu .checkbox input[type="checkbox"]{
  margin-right: 9px;
  margin-left: 8px;
}
ul.submenu .checkbox, .radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}


.section-title {
  margin-bottom: 39px;
  padding: 0;
}
.section-title .ec-title {
    margin-bottom: 0;
    position: relative;
    display: inline;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: normal;
    padding-bottom: 7px;
    color: #a42a49;
    font-size: 24px;
    font-weight: 400;
    font-family: 'bodoniflfregular';
}
.section-title .ec-title:after {
    content: "";
    position: absolute;
    top: auto;
    height: 2px;
    width: 143px;
    margin: 0 auto;
    background: #a42a49;
    bottom: 0;
    right: 0;
    left: 0;
}
/* .perce-sale .percentage {
    z-index: 8;
    position: absolute;
    font-size: 13px;
   
} */

.percentage {
    z-index: 8;
    position: absolute;
    display: block;
    font-size: 13px;
    margin: 11px 0 0 236px;
    font-size: 14px;
    font-weight: 500;
    text-align: end;
    background: #a42a49;
    color: white;
    padding: 4px 12px;
}
.flags {
    z-index: 8;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    color: #a42a49;
    align-items: center;
    text-transform: uppercase;
    color: #a42a49;
    letter-spacing: 0.5px;
    padding: 13px 0 0 13px;
}
.product-card h3 {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 500;
}
.product-card {
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
}
.section-padding{
    padding: 26px 0;
}


.figure{
  width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 5px solid #fff;
    box-shadow: 0 0 5px #ddd;
  }
  
  
  .figure img{
    -webkit-transition: all 0.5s linear;
            transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            transition: all 0.5s linear;
            transform: scale3d(1, 1, 1);
            width: 100%;
            height: 300px;
  }

   
  .figure:hover img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
  }

  .category-card h3{
    text-align: center;
    padding-top: 13px;
    font-size: 17px;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
  }
  .top-pick-card{
    padding: 15px 0 15px 0;
  }
  .product-listing label {
    color: rgb(119, 119, 119);
    font-weight: 400;
    font-size: 14px;
}
.product-listing .form-control {
  border-top: none;
  font-size: 14px;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 0px;
  color: rgb(164, 42, 73);
  font-weight: 500;
  box-shadow: none;
  padding-top: 0;
}
.pagination {
  margin: 0px;
}
.price p{
  font-size: 13.8px;
  color: #27231F;
  line-height: 20px;
  margin-bottom: 6px;
  font-weight: 500;
}
ul.breadcrumb {
  padding: 20px 16px;
  list-style: none;
  background-color: #fff;
}
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
  color: #A42A49;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* product details css */
.product-details-img img{
  width: 100%;
}
.product-details-img .slick-slider img{
  padding: 0 5px;
}
.product-info h4 {
  font-size: 14px;
  color: #27231F;
  font-weight: 400;
  letter-spacing: normal;
}
.product-info h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: normal;
  margin-bottom: 0px;
}
.product-info .checked{
  color: orange;
  font-size: 14px;
  padding: 0 3px 0px 0px;
}
.product-info-price {
  margin-top: 10px;
}
.product-info-price h5 {
  font-size: 25px;
  font-weight: 600;
  color: #27231F;
}
.product-info-price h5 del {
  color: #ccc;
  font-size: 18px;
  font-weight: 400;
  padding-left: 4px;
}
.product-info-price h5 span {
  color: #A42A49;
  font-size: 15px;
  font-weight: 500;
  padding-left: 4px;
}
.product-info-price h6 {
  color: #A42A49;
  font-weight: 500;
}
.product-info-size {
  margin-top: 20px;
}
.product-info-size h5 {
  font-size: 16px;
  color: #27231F;
  font-weight: 500;
  letter-spacing: normal;
  padding-bottom: 0px;
}
.btn-size-active {
  background: #A42A49 !important;
  color: #fff !important;
}
.size-btn {
  padding: 6px 25px;
  background: #EFEFEF;
  border-radius: 5px;
  margin-right: 5px;
  color: #C1C1C1;
  transform: all 0.3s;
  margin-bottom: 10px;
  border: none;
}
.product-info-size a {
  color: #A42A49;
  font-weight: 500;
  margin-top: 20px;
  font-size: 15px;
}
.product-info-size .form-control {
  width: 300px;
  background: #EFEFEF;
  border: none;
  height: 45px;
  border-radius: 5px;
}

.product-listing .form-control {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  color: #A42A49;
  font-weight: 500;
  box-shadow: none;
}
.product-info-size ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.product-info-size ul li{
  font-weight: 400;
  font-size: 14.8px;
  line-height: 23px;
}
.btn-cart {
  background: #A42A49;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  margin-right: 9px;
  font-weight: 500;
  transition: all 0.3s;
  padding: 10px 35px;
  border-radius: 7px;
}
.btn-wishlist {
  background: #fff;
  border: 1px solid #A42A49;
  color: #A42A49;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
  padding: 10px 35px;
  border-radius: 7px;
}
.border-top-d {
  border-top: 1px solid #000000!important;
  padding-top: 35px;
  margin-top: 37px;
}
.similar-pro h5{
  font-size: 18px;
  font-weight: 600;
}

.product-review h5{
  font-size: 18px;
  font-weight: 600;
}
.product-review h4{
  line-height: 7px;
  padding-top: 18px;
}
.product-review .checked {
  color: black;
  padding: 0 2px;
  font-size: 13px;
}
.testimonial-card {
  border: none;
  border-bottom: 1px solid #000;
  padding: 30px 0px;
}
.user-thumb {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}
.user-thumb img {
  width: 100%;
  border-radius: 50%;
}
.user-info {
  float: left;
  padding-left: 25px;
  padding-top: 20px;
}
.testimonial-card .checked {
  color: orange;
  font-size: 12px;
  padding: 0 2px;
}
.user-info h5{
  font-size: 18px;
  line-height: 1px;
  font-weight: 600;
}
.testimonial-card h4 {
  font-size: 16px;
    padding-top: 12px;
    margin: 0px;
    font-weight: 600;
    padding-bottom: 4px;
}
.testimonial-card .user-info p {
  padding: 0px;
  font-size: 14px;
  margin: 0px;
  font-weight: 500;
}
.remove{
  color: #A42A49!important;
  font-weight: 500;
  letter-spacing: normal;
}
.shopping-cart {
  padding: 60px 0px;
}
.payment-steps {
  width: 90% !important;
  background: green !important;
  margin: 0 auto;
}
.payment-steps ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.payment-steps ul li {
  float: left;
  padding: 0px 13px;
  font-size: 16px;
  text-transform: uppercase;
}
/* .payment-steps ul li a.active {
  color: #A42A49;
  font-weight: 600;
} */
.payment-steps ul li a {
  color: #000;
}
.shopping-cart h4 {
  color: #403A34;
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 22px;
  font-weight: 600;
  /* padding: 0; */
  margin: 0;
}
.shopping-cart h6 {
  color: #403A34;
  font-weight: 400;
  font-size: 15px;
  padding-top: 8px;
  letter-spacing: normal;
}
.shopping-cart table tr th {
  font-size: 12px;
  font-weight: 700;
}
.shopping-cart table tr td h5 {
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 500;
  color: black;
  padding-bottom: 3px;
}
.shopping-cart table tr td p {
  margin: 0px;
  padding-bottom: 5px;
  font-size: 14px;
}
.shopping-cart table tr td {
  color: #27231F;
  font-weight: 500;
  font-size: 15px;
}
.t-pro-img{
  width: 73px;
}
.shopping-cart .w-10{
  width: 205px;
}
.shopping-cart .w-35 h5 a{
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.shopping-cart table tr td {
  vertical-align: middle;
}
.edit {
  color: #A42A49;
  font-weight: 500;
  letter-spacing: normal;
  border: none;
  background: none;
}
.remove {
  color: #EB001B!important;
  font-weight: 500;
  letter-spacing: normal;
}
.shopping-cart h2 {
  color: #A42A49;
  font-size: 18px;
  font-weight: 500;
}
.shopping-cart p{
  font-size: 14.8px;
}
.cart-summery {
  padding: 25px;
  border: 2px solid #A42A49;
  border-radius: 5px;
}
.cart-summery h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  color: #27231F;
}
.cart-summery ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.cart-summery ul li {
  padding: 25px 0px 0px 0px;
  font-size: 15px;
}
.btn-cart {
  background: #A42A49;
  height: 45px;
  color: #fff;
  width: 97%;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
  padding: 10px 35px;
}
.address-card {
  background: #F7F7F7;
  padding: 25px;
  border-radius: 5px;
}
.address-card h4 {
  color: #27231F;
  font-size: 18px;
  text-transform: capitalize;
  padding: 0 0 7px;
}
.address-card h5 {

  color: #62B05B;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: normal;
  padding-top: 0px;

}
.address-card p {
  padding-top: 6px;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 10px;
}
.btn-address {
  background: #A42A49;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
  padding: 10px 35px;
  width: 100%;
  border: none;
  margin-top: 97px;
  border-radius: 5px;
}
.user-address label {
  font-size: 14px;
  font-weight: 500;
  padding-top: 0px;
}
.user-address .form-control {
  box-shadow: none;
  border: 1px solid #A42A49;
  box-sizing: border-box;
  border-radius: 5px;
}
.user-address label span {
  color: red;
}
.btn-address-submit {
  background: #A42A49;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
  padding: 10px 35px;
  border: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
}
.user-address .modal-header{
  border: none;
  padding-bottom: 0px;
}
.user-address .col-sm-6{
  padding-bottom: 16px;
}
.user-address .modal-header .btn-close{
  border: 1px solid #a42a49;
  opacity: 1;
}
.my-account .dropdown .dropdown-toggle{
  padding: 2px 3px 0px 10px;
  font-weight: 400;
  font-size: 13px;
  background: none;
  border: none;
  color: black;
}
.my-account .show>.btn-primary.dropdown-toggle {
  color: black!important;
  background: none!important;
  border: none!important;
}
.account-details  .form-control {
  box-shadow: none;
  border: 1px solid #A42A49;
  box-sizing: border-box;
  border-radius: 5px;
}
.account-details .col-sm-6{
  padding-bottom: 16px;
}
.account-details label {
  font-size: 14px;
  font-weight: 500;
  padding-top: 0px;
}
.account-details label span {
  color: red;
}
.page-subtitles h4{
  font-size: 21px;
    font-weight: 600;
}
.page-subtitles h6{
  font-size: 15px;
  font-weight: 400;
}
.my-orders table tr td {
  color: #27231F;
  font-weight: 500;
  font-size: 15px;
  vertical-align: middle;
}
.my-orders .w-15{
  width: 15%;
}
.my-orders table tr td p {
  margin: 0px;
  padding-bottom: 5px;
  font-size: 14px;
}
.order-edit{
  color: #A42A49;
  font-weight: 500;
  letter-spacing: normal;
  /* text-align: end; */
  float: right;
}
.divider {
  height: 1px;
  background: #C4C4C4;
  margin-top: 15px;
}
.login-head .modal-header{
  border: none!important;
  padding: 0;
}
.login-head h5{
  text-align: center;
  font-size: 27px;
  font-weight: 500;
  margin-top: 0px;
}
.login-btn{
  width: 100%;
  background: #a42a49!important;
  border: none;
}
.login-head .modal-header .btn-close {
  border: 1px solid #a42a49;
  opacity: 1;
}

/* about */
.about-banner{
  background: url(../images/baner.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  position: relative;
  padding: 72px 0;
}
.about-banner .breadcrumb{
  background: none;
  display: block!important;
}
.about-banner {
  color: white;
}
.about-banner .breadcrumb a{
  color: white;
}
