     .footer-dark {
        position: relative;
        background-color: #202325;
    }
    .footer-top {
        padding: 60px 0 45px;
    }
    footer .widget {
        margin-bottom: 30px;
    }
    .footer-logo {
        margin-bottom: 20px;
    }
    .footer-dark a{
        color: #fff;
    }
    .footer-dark p {
        color: #fff;
        margin-bottom: 0;
        font-size: 14px;
    }
    .widget .social-icons li {
        padding-right: 0px;
        display: inline-block;
        margin-right: 5px;
    }
    .widget .social-icons li a {
        font-size: 20px;
        line-height: 36px;
        display: inline-block;
        overflow: hidden;
        width: 36px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        border-radius: 50%;
    }
    footer .widget-title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 13px;
        text-transform: capitalize;
        color: #fff;
    }
    .widget-links li {
        padding-bottom: 5px;
    list-style: none;
    }
    .widget-links li a {
        font-size: 13px;
    color: #fff;
    }
    .widget-links{
        padding-left: 0px;
    }
    .contact-info>li {
        padding-bottom: 5px;
        list-style: none;
    }
   
    
    .contact-info>li svg {
        font-size: 18px;
        display: inline-block;
        margin-top: 4px;
        margin-right: 10px;
        vertical-align: top;
        color: #fff;
        border-color: #fff;
    }
    .contact-info>li svg+* {
        font-size: 13px;
        line-height: 19px;
        display: inline-block;
        overflow: hidden;
        max-width: 78%;
        margin: 0;
        vertical-align: middle;
    }
    .contact-info-light{
        padding-left: 0px;
    }
    

.bottom-footer {
    position: relative;
    padding: 30px 0;
}
.border-top--grey {
    border-top: 1px solid hsla(0,0%,100%,.1);
}
.footer-payment li {
    margin-left: 5px;
    margin-left: 5px;
    float: right;
}
.social-icons{
    padding-left: 0px;
}
@media (min-width: 992px){
.text-lg-right {
    text-align: right!important;
}
}
@media (min-width: 768px){
.text-md-left {
    text-align: left!important;
}
}